.tall {
  height: 30%;
}

html,
body,
footer,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif
}

.container {
  position: relative;
}

.twothird{
  margin-left: 42%;
  width: 88%;
}

.bottom-left {
  position: absolute;
  bottom: 3%;
  left: 6%;
}

i {
  margin-right: 3%;
}

.text-teal-700 {
  color: #2c7a7b;
}

.fa-facebook-official:hover {
  opacity: 0.2;
}

.fa-instagram:hover {
  opacity: 0.2;
}

.fa-snapchat:hover {
  opacity: 0.2;
}

.fa-pinterest-p:hover {
  opacity: 0.2;
}

.fa-twitter:hover {
  opacity: 0.2;
}

.fa-linkedin:hover {
  opacity: 0.2;
}

.container {
 
  padding-top: 2%;
  /* padding-left: 15%;
  padding-right: 15%; */
}

*, *:before, *:after {
  box-sizing: inherit;
}

.footer
 {
  top: 20%;
   width:100%;
   clear:both;
   padding:6px 0 0 0;
   text-align:center;
   bottom:-50px;
   background-color: #009688!important;
   color:white;
   position:relative;
   height:100%;
   margin:-31% auto auto auto;
   z-index:31;
}

b, strong {
  font-weight: bolder;
}

h5 {
  font-size: 18px;
}