/* Navbar Styles */
:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 9999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.home-link:focus,
.home-link:hover {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color);
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: var(--navbar-text-color-focus);
}


#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        left 0.2s ease-in-out,
        right 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#navbar-menu.sidebar,
#navbar-menu.sidebar.left {
    left: -1000px;
    right: 0;
}

#navbar-menu.sidebar.right {
    right: -1000px;
    left: 0;
}

#navbar-menu.detached,
#navbar-menu.attached {
    left: 0;
    right: 0;
}

#navbar.opened #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

#navbar.opened #navbar-menu.sidebar.left {
    left: 0;
}

#navbar.opened #navbar-menu.sidebar.right {
    right: 0;
}

.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}

.sidebar .navbar-links {
    top: 0;
    bottom: 0;
}

.left.sidebar .navbar-links {
    left: 0;
    right: unset;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.3);
}

.right.sidebar .navbar-links {
    right: 0;
    left: unset;
    box-shadow: -5px 20px 20px rgba(0, 0, 0, 0.3);
}

.detached .navbar-links {
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.attached .navbar-links {
    left: 0;
    right: 0;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .navbar-toggle {
        display: none;
    }

    #navbar #navbar-menu,
    #navbar.opened #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}

#options {
    display: flex;
    flex-direction: column;
}


/* Footer Styles */
/* You can add your custom styles here */
footer {
    background-color: #000000; /* Set the desired background color */
    /* Other styles for the footer */
}
a.text-reset {
    color: white;
}
footer.text-center.text-lg-start.text-muted {
    color: white;
}
.text-reset {
    color: black;
}

.text-secondary {
    color: #6c757d;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-muted {
    color: #6c757d;
}

.text-center {
    text-align: center;
}

.text-lg-start {
    text-align: left;
}

.bg-white {
    background-color: white;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-lg-between {
    justify-content: space-between;
}

.p-4 {
    padding: 1rem;
}

.me-5 {
    margin-right: 1.25rem;
}

.d-none {
    display: none;
}

.d-lg-block {
    display: block;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-facebook:before {
    content: "\f09a";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.fa-github:before {
    content: "\f09b";
}

.fa-gem:before {
    content: "\f3a5";
}

.fa-home:before {
    content: "\f015";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-phone:before {
    content: "\f095";
}

.fa-print:before {
    content: "\f02f";
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-3,
.col-md-2,
.col-md-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-lg-4,
.col-lg-2,
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-md-0 {
    margin-bottom: 0;
}